
header
{
    display:flex;
    width:100vw;
    justify-content: space-around;
    align-items: center;
    height:100px;
    color:#c9adff;
}

header ul
{
    display:flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    width:50vw;
}
header a
{
    text-decoration: none;
    color:#a09e9e;
    font-weight: 600;
}

ul a div
{
    background: #ffffff;
    width:0px;
    transition: .5s ease-in-out;
    position: absolute;
    margin-top: 5px;
    height:5px;
    border-radius: 100px;
}

header a:hover
{
    color:white;
    
}

.active li
{
    color:white;
}






@media screen and (max-width:400px) {
    header
    {
        flex-wrap: wrap;
    }
 
    header ul
    {
        width:100vw;
    }

 }